---
const currentYear = new Date().getFullYear();
---

<footer class="admin-footer">
  <div class="admin-footer__content">
    <p>© {currentYear} Gabriel Zavando. Todos los derechos reservados.</p>
    <p>Tecnología desarrollada por: <a href="https://gabrielzavando.cl/" target="_blank" rel="noopener">Gabriel Zavando</a></p>
  </div>
</footer>

