---
import { Image } from "astro:assets";
import Logo from "../../assets/img/logo-medium.png";
import ThemeSwitcher from "./ThemeSwitcher.astro";

const currentPath = Astro.url.pathname;
const links = [
    { href: "/", text: "Inicio" },
    { href: "#servicios", text: "Servicios" },
    { href: "#about", text: "Sobre mi" },
    { href: "#process", text: "Metodología" },
    { href: "#plans", text: "Planes" },
    { href: "#contact", text: "Contacto" }
];
---

<header class="header">
    <div class="header__container">
        <h1 class="header__logo">
            <a href="/">
                <Image
                    src={Logo}
                    alt="Logo de la agencia"
                    width="150"
                    height="150"
                    class="logo"
                    loading="lazy"
                />
            </a>
        </h1>
        
        <button class="nav-toggle" aria-label="Abrir menú">
            <span class="hamburger"></span>
        </button>

        <nav class="nav">
            <ul class="nav__list">
                {links.map(link => (
                    <li>
                        <a href={link.href}
                           class:list={[
                            'nav__link',
                            { 'active': currentPath === link.href
                             || (link.href === '/' && currentPath === '/')}
                           ]}>
                            {link.text}
                        </a>
                    </li>
                ))}
                <li class="nav__theme-toggle">
                    <ThemeSwitcher />
                </li>
            </ul>
        </nav>
    </div>
</header>

<style lang="scss">
    @use '../../styles/globals' as *;

    .header {
        // Contenedor base
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        background: transparent;
        padding: $spacing-4 $spacing-4; // Ajustar el padding top del banner para separarlo del header transparente
        transition: background-color 0.3s ease, color 0.3s ease;
        &__container{
            @include container-flex;
        }

        // En tema oscuro
        html[data-theme="dark"] & {
            background-color: var(--color-nav-bg);
        }

        // Responsive
        @media (min-width: $breakpoint-sm) {
            background: var(--color-nav-bg);
            backdrop-filter: none;
        }
    }
    
</style>

<script>
    import { testMessage } from "../../scripts/testScript";
    document.addEventListener("DOMContentLoaded", () => {
        console.log(testMessage);
    });
</script>







